@import "../mixins/containers";
@import "../variables/variables";

.movies {
  img {
    border-radius: 4px;
  }

  .movie {
    @include container-style();
    padding: $spacer;
    display: flex;
    flex-direction: row;

    .--info {
      flex-grow: 1;
      margin-left: $spacer;

      .--title {
        margin: 0 0 12px;
      }

      .--genre-title {
        margin: 8px 0;
      }

      .--genres {
        margin: 0;
        padding-inline-start: 20px;
      }
    }
  }
}
